
.no-flex {
    display: block;
}

.button-cont {
    margin: 0.8rem 0;
}

#today {
    border: solid 2px;
    padding: 0.8rem;

}

.hide {
    display: none;
}

.searchQuery {
    margin:0.5rem 0;
}

#search-input {
    width: 100%;
}

.forecast-box {
    background-color: #13293D;
    color:white;
    padding-left: 0.5rem;
}
